section {
    width: 100vw;
    height: 100vh;
}

html {
    overflow-x: hidden;
}

#hero {
    background-color: rgb(100,40,80);
    display: flex;
    justify-content: center;
    align-content: center;
}

#hero #heroContainer {
    justify-content: center;
    align-content: center;
    text-align: center;
    outline: 2px solid red;
}

#introduction {
    background-color: rgb(20,0,80);

}

#webInformation {
    background-color: rgb(80,40,30);

}

#infoIntroduction {
    background-color: rgb(20,80,80);

}


#influenceViews {
    background-color: rgb(10,70,80);

}

#Analysis {
    background-color: rgb(100,40,80);


}

#modernDay {
    background-color: rgb(10,140,20);


}

#conclusion {
    background-color: rgb(200,10,180);
}
