* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

nav {
    position: sticky;
    background-color: purple;
    top: 0;
}

section {
    width: 100vw;
}

#hero {
    height: 100vh;
    background-color: red;
}

#introduction {
    height: 200vh;
    background-color: gray;
}

#EdgarPortrait {
    height: 500px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}